@model GalleriaDesign.Areas.ProductionFarms.Models.Sowing

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sowing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Farms.codeFarms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Farms.codeFarms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumSowing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumSowing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecSowing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecSowing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weekSowing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weekSowing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fusionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fusionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metersavailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metersavailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stemsxMeters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stemsxMeters)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idSowing }) |
    @Html.ActionLink("Back to List", "Index")
</p>
