@model IEnumerable<Supermarket.Models.ColorEnhaced>

@{
    ViewBag.Title = "Index";
}

<h2>Color Enhaced</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nameColor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nameColor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idColorEnhaced }) |
            @Html.ActionLink("Details", "Details", new { id=item.idColorEnhaced }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idColorEnhaced })
        </td>
    </tr>
}

</table>
