@model Supermarket.Models.StoreExecution

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>StoreExecution</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idStoreExecution)

      

        <div class="form-group">
            @Html.LabelFor(model => model.idOverallFloral, "idOverallFloral", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idOverallFloral", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idOverallFloral, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idFlowerPerformance, "idFlowerPerformance", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idFlowerPerformance", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idFlowerPerformance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idPullDates, "idPullDates", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idPullDates", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idPullDates, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idWaterTemperature, "idWaterTemperature", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idWaterTemperature", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idWaterTemperature, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idWaterState, "idWaterState", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idWaterState", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idWaterState, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idCoolerTemperature, "idCoolerTemperature", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idCoolerTemperature", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idCoolerTemperature, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idExposureClimate, "idExposureClimate", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idExposureClimate", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idExposureClimate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
