@model GalleriaDesign.Models.EmailsBody

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/QCGalleria/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EmailsBody</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emailFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passwordEmailFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passwordEmailFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.signatureEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.signatureEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.emailBodyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
