@model Supermarket.Models.InspecctionSupermarket

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>InspecctionSupermarket</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idInspecctionSupermarket)

        <div class="form-group">
            @Html.LabelFor(model => model.additionalComents, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.additionalComents, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.additionalComents, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idStoreInformation, "idStoreInformation", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idStoreInformation", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idStoreInformation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idConsumerBunchProgram, "idConsumerBunchProgram", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idConsumerBunchProgram", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idConsumerBunchProgram, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idBouquetProgram, "idBouquetProgram", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idBouquetProgram", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idBouquetProgram, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idStoreExecution, "idStoreExecution", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idStoreExecution", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idStoreExecution, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idRoseProgram, "idRoseProgram", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idRoseProgram", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idRoseProgram, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idColorEnhaced, "idColorEnhaced", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idColorEnhaced", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idColorEnhaced, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idSleeveType, "idSleeveType", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idSleeveType", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idSleeveType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idSupplier, "idSupplier", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idSupplier", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idSupplier, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
