@using GalleriaDesign.Models;
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@if (Request.IsAuthenticated)
{
    
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currentUser = manager.FindById(User.Identity.GetUserId());

    <!---->

    <ul class="nav navbar-nav">
        <li>
            @Html.ActionLink("Home", "Index", "Home")


        </li>
        @if (User.IsInRole(System.Web.Configuration.WebConfigurationManager.AppSettings["SuperAdmin"]) || 
            User.IsInRole(System.Web.Configuration.WebConfigurationManager.AppSettings["InspectorQC"]))
        {
            <li>@Html.ActionLink("QCGalleria", "Index", "HomeQCGalleria", new { area = "QCGalleria" }, null)</li>

        }
        @if (User.IsInRole(System.Web.Configuration.WebConfigurationManager.AppSettings["SuperAdmin"]) ||
            User.IsInRole(System.Web.Configuration.WebConfigurationManager.AppSettings["InspectorSuperMarket"])) {

            <li>@Html.ActionLink("InspetionSuper Market", "Index", "HomeInspetionSuperMarket", new { area = "InspetionSuperMarket" }, null)</li>
        }
        @if (User.IsInRole(System.Web.Configuration.WebConfigurationManager.AppSettings["SuperAdmin"]) ||
            User.IsInRole(System.Web.Configuration.WebConfigurationManager.AppSettings["UserProductioFarms"])) {

            <li>@Html.ActionLink("Production Farms", "Index", "HomeProductionFarms", new { area = "ProductionFarms" }, null)</li>

        }
        @if (User.IsInRole(System.Web.Configuration.WebConfigurationManager.AppSettings["SuperAdmin"]) || 
            User.IsInRole(System.Web.Configuration.WebConfigurationManager.AppSettings["UserGTH"]))
        {

            <li>@Html.ActionLink("Gestion Humana", "Index", "HomeGTH", new { area = "GTH" }, null)</li>

        }

        @if (User.IsInRole(System.Web.Configuration.WebConfigurationManager.AppSettings["SuperAdmin"]))
        {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Management<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Users", "usersList", "Management")

                    </li>
                    <li>
                        @Html.ActionLink("Roles", "index", "Management")

                    </li>
                </ul>
            </li>

        }



</ul>
    <!---->

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
           
            <li>
                @Html.ActionLink("Hello " + @currentUser.fullName+ "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>

}




@section Scripts {



    <script type="text/javascript">

        function openInspectionPlace() {

            var reportCode = $("#qualityReportID").val();
          // htmlVista = htmlVista.text;
             var idTypeProBlem = 57;
             $.post('@Url.Action("enviarCorreo")', { type: 'data', id: reportCode }, function (result) {
                if (result.success) {
                    //alert('The Email was successfully sent');
                    $("#ModalEmail").modal("show");
                }
            });
        }
    </script>
}