@model ApplicationProductionsFarms.Model.VarietyParametersProducts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VarietyParametersProducts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Color.codColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.codColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlowerSuppliers.codFlowerSup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlowerSuppliers.codFlowerSup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlowerType.codFlowerType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlowerType.codFlowerType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketType.codMarketType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketType.codMarketType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products.codProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.codProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.program.codProgram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.program.codProgram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.variety.codVariety)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.variety.codVariety)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codVariety)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codVariety)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasEnConf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasEnConf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasLuz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasLuz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaInicioF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaInicioF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdxCamaTallos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdxCamaTallos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TallosSiemProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TallosSiemProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndicePerdConf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndicePerdConf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndicePerdProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndicePerdProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TallosSiemConf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TallosSiemConf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasEnSiemDesboton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasEnSiemDesboton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasEnSiemB91)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasEnSiemB91)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasEnSiemB92)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasEnSiemB92)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasEnSiemB93)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasEnSiemB93)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasCorte1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasCorte1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasCorte2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasCorte2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasCorte3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasCorte3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasCorte4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasCorte4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasCorte5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasCorte5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasCorte6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasCorte6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasCorte7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasCorte7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TalloXBalde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TalloXBalde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TalloXCaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TalloXCaja)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idVariedad }) |
    @Html.ActionLink("Back to List", "Index")
</p>
