@model Supermarket.Models.Bouquet_Filler

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bouquet_Filler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bouquetProgram.descriptionProgram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bouquetProgram.descriptionProgram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fillerType.nameFiller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fillerType.nameFiller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkFiller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkFiller)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idBouquet }) |
    @Html.ActionLink("Back to List", "Index")
</p>
