@model ApplicationProductionsFarms.Model.Variety

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Variety</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codVariety)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codVariety)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descriptionVariety)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descriptionVariety)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idVariety }) |
    @Html.ActionLink("Back to List", "Index")
</p>
